@import "tailwindcss";

@plugin "daisyui" {
    themes: all;
}

html {
    font-family: "Nunito Sans", sans-serif;
}

:root {
    --default-font-family: "Nunito Sans", sans-serif;
}

/* Wails window dragging */
.drag-region {
    --wails-draggable: drag;
}

.no-drag {
    --wails-draggable: no-drag;
}
